<h1>Timelines</h1>
<p id="notice"><%= notice %></p>
<ul>
<% @timelines.each do |t| %>
    <li><%= t.timelinename %></li>
<% end %>
</ul>

<div class="row ">
  <div class="col-md-12">
    <%= button_to "New", new_timeline_path, method: :get, class: "btn btn-primary" %>
  </div>
</div>


